
.custom-datepicker {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.432);
    background-color: #ffff;
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .react-datepicker-wrapper {
    flex: 1;
  }
  
  .custom-datepicker:focus-within {
    outline: none;
    border-color: #0077cc;
  }
  