.breadcrumb {
    display: flex;
    flex-direction: column;
    background: #ffff;
    padding: 10px 0;
    padding: 1rem 1rem 0 1rem
  }
  
  .active-heading {
    display: flex;
    align-items: center;
  }
  
  .bold-text {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navigation-info {
    font-size: 16px;
    color: rgb(84, 84, 84);
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;
  }
  
  .info-icon {
    color: rgb(84, 84, 84);
    margin: 0 5px;
  }
  
  .active-heading-option-container {
    display: flex;
    padding-top: 2rem;
    
  }
  
  .active-heading-option {
    font-size: 16px;
    cursor: pointer;
    padding-right: 1rem;
  }

  .active-heading-option.selected {
   color: rgb(30, 16, 127);
  }
  

  .active-heading-option::after {
    content: '';
    padding-bottom: 10px;
  }

  .active-heading-option.selected::after {
    display: block;
    border-bottom: 3.5px solid rgb(30, 16, 127);
  }
  