.breadcrumb {
    display: flex;
    flex-direction: column;
    background: #ffff;
    padding: 10px 0;
    padding: 1rem 1rem 0 1rem
  }
  
  .active-heading {
    display: flex;
    align-items: center;
  }
  
  .bold-text {
    font-weight: bold;
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  .navigation-info {
    font-size: 16px; /* Adjust the font size as needed for the navigation info */
    color: rgb(84, 84, 84); /* Set the color as needed */
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;
  }
  
  .info-icon {
    color: rgb(84, 84, 84); /* Color for the info icon (>>) */
    margin: 0 5px; /* Add spacing around the icon */
  }
  
  .active-heading-option-container {
    display: flex;
    padding-top: 2rem; /* Add spacing between active heading and options */
    
  }
  
  .active-heading-option {
    font-size: 16px;
    cursor: pointer;
    padding-right: 1rem;
    /* position: relative; */
    /* Add other styles as needed */
  }

  .active-heading-option.selected {
   color: rgb(30, 16, 127);
  }
  

  .active-heading-option::after {
    content: '';
    /* flex-grow: 1; */
    padding-bottom: 10px;
  }

  .active-heading-option.selected::after {
    display: block; /* Display the line when selected */
    border-bottom: 3.5px solid rgb(30, 16, 127); /* Transparent line by default */
  }
  