.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 62px;
    /* height: 100%; */
}

/* .sidebar-container {

} */

.main-content {
    flex: 85%;
}

.breadcrumb-container {
    padding: 0;
    /* height: 15%; */
}

.search-filter-content {
    padding: 20px;
}

.content-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .assessment-content {
} */

.filter-btn {
    display: inline-block;
    border: 1px solid #1E107F;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.filter-btn:hover {
    background-color: #1E107F;
    cursor: pointer;
}

.filter-btn button {
    border: none;
    background: transparent;
}

.filter-icon {
    color: #1E107F;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
