  .task-item-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 10px; /* Spacing between columns and rows */
  }

  .grid1-container {
    grid-column: 1 / span 1; /* Occupies one column */
    grid-row: 1 / span 2;
  }
  
  .grid2-container {
    grid-column: 2 / span 1; /* Occupies one column */
  }
  
  .grid3-container {
    grid-column: 3 / span 1; /* Occupies one column */
  }
  
  .grid4-container {
    grid-column: 4 / span 1; /* Occupies one column */
  }
  

  .grid5-container {
    grid-column: 2 / span 3; /* Spans all 4 columns */
    grid-row: 2; /* Starts on the second row */
    display: flex; /* Use flexbox for the items inside */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Space between items */
    padding: 0 1rem 0 0;
  }

  /* Add additional styling for your elements */
.row {
    margin-bottom: 1rem;
  }

