/* Sidebar Styles */
.sidebar {
    background: #fff;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    min-height: 100vh;
    height: 100%;
    flex: 15%;
    /* padding: 20px; */
    /* height: 100%; */
}

.sidebar h2 {
    color: #333;
    margin-bottom: 20px;
}

.submenu {
width: 100%;
    margin: 10px 0;
  }

  .submenu-item {
    text-align: center;
border-radius: 8px;
    cursor: pointer;
    background: #1E107F;
    color: #ffff;
    padding: 0.5rem 0 0.5rem 0;

  }

  .submenu-item span {
    font-size: 0.8rem;

  }
  
  .dropdown-content {
    display: block; /* Initially display it */
    max-height: 0; /* Start with zero height, hiding the content */
    overflow: hidden; /* Hide the overflow */
    transition: max-height 0.3s ease-in-out; /* Add a transition to max-height */
  }
  
  .dropdown-content.open {
    max-height: 1000px; /* Open it by setting a maximum height (adjust this value as needed) */
  }
  
  .dropdown-content p {
    margin: 5px 0;
    cursor: pointer;
    padding: 1rem 1rem 1rem 1rem;

  }

  .dropdown-content p svg {
    font-size: 0.7rem; /* Adjust the icon size as needed */
    margin-right: 0.5rem; /* Add spacing between the icon and text */
  }

  /* Style for the selected option */
.dropdown-content .option.selected {
    background-color: #d9d6e9; /* Light blue background for selected option */
    color: #1E107F;
    font-weight: 600;
    border-right: 3.5px solid #1E107F;
  }
  
  /* Add a vertical line on the extreme right for the selected option */


/* .dropdown.active .dropdown-content {
    display: flex;
  } */

/* .dropdown:hover .dropdown-content {
    display: flex;
  } */



/* .dropdown-content p:last-child {
    border-bottom: none;
  } */
  .submenu-item {
    display: flex;
    justify-content: space-evenly;
    padding-right: 100px;
    cursor: pointer;
    background: #1E107F;
    color: #fff;
    padding: 0.5rem;
  }
  
  .icon {
    transition:  0.3s ease; /* Add a transition for rotation */
  }
  
  .submenu.open .icon {
    transform: rotate(90deg); /* Rotate the icon when the submenu is open */
  }

  
  /* Add a transition for the submenu content */
  /* .submenu.open .dropdown-content {
    max-height: 1000px; 
    overflow: hidden;
    transition: max-height 0.5s ease; 
  } */
  
  
  
  
  


@media (max-width: 769px) {
    .sidebar {
        display: none;
    }
}