.sidebar {
  background: #fff;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  flex: 15%;
}

.sidebar h2 {
  color: #333;
  margin-bottom: 20px;
}

.submenu {
  width: 100%;
  margin: 10px 0;
}

.submenu-item span {
  font-size: 0.8rem;
}

.dropdown-content {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdown-content.open {
  max-height: 1000px;
}

.dropdown-content p {
  margin: 5px 0;
  cursor: pointer;
  padding: 1rem 1rem 1rem 1rem;

}

.dropdown-content p svg {
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.dropdown-content .option.selected {
  background-color: #d9d6e9;
  color: #1E107F;
  font-weight: 600;
  border-right: 3.5px solid #1E107F;
}

.submenu-item {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  background: #1E107F;
  color: #ffff;
  padding: 0.5rem 0 0.5rem 0;

}

.icon {
  transition: 0.3s ease;
}

.submenu.open .icon {
  transform: rotate(90deg);
}

@media (max-width: 769px) {
  .sidebar {
    display: none;
  }
}