.search-container {
  display: flex;
  align-items: center;
}

.search-bar-container {
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.432);
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.search-bar-container:focus-within {
  outline: none;
  border-color: #0077cc;
}

.search-bar {
  border: none;
  font-size: 16px;
  width: 100%;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  margin-right: 8px;
}